version: "3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MKOBO_CL_WEBSITE: ${MKOBO_CL_WEBSITE}
        MKOBO_BASE_API_URL: ${MKOBO_BASE_API_URL}
    restart: always
    ports:
      - 4000:3000
